<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5" style="text-align:center">
      <h1 class="font-weight-light">Edit Review</h1>
        <p class="lead">
            
            <div style="padding-bottom:10px">
                <h1><%= @review.movie.title %></h1>
            </div>

            <form action="/reviews/<%= @review.id %>" method="POST">

                <div style="padding-bottom:10px">
                    <label for="review_rating"><strong>Rating:</strong></label>
                    <input type="hidden" name="_method" value="PATCH">
                    <select name="[review][rating]" id="review_rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <div style="padding-bottom:10px">
                    <label for="review_content"><strong>Review Summary:</strong></label> <br>
                    <input type="hidden" name="_method" value="PATCH">
                    <textarea name="[review][content]" id="review_content" cols="30" rows="10"><%= @review.content %></textarea>
                </div>

                <div><input type="submit" class="btn btn-primary btn-md" value="Submit Review"></div>

            </form>  
        </p>

      <div style="height: 450px"></div>

    </div>
  </div>
</div>